<VirtualHost *:{{ wordpress_port }}>
   ServerName {{ wordpress_host }}
   ServerAlias www.{{ wordpress_host }}
   DocumentRoot /var/www/html/wordpress
   ErrorLog /var/log/httpd/error.log
   CustomLog /var/log/httpd/access.log combined
 
   <Directory /var/www/html/wordpress>
         Options Indexes FollowSymLinks
     AllowOverride all
     Require all granted
   </Directory>
</VirtualHost>

