<VirtualHost *:{{ port }}>
   ServerName {{ host }}
   ServerAlias www.{{ host }}
   DocumentRoot /var/www/{{ host }}/wordpress
   ErrorLog /var/log/httpd/error.log
   CustomLog /var/log/httpd/access.log combined
 
   <Directory /var/www/{{ host }}/wordpress>
         Options Indexes FollowSymLinks
     AllowOverride all
     Require all granted
   </Directory>
</VirtualHost>

